.blogList {
  display: flex;
  padding: 10px 10px;
  margin: 10px;
  justify-content: space-around;
}

.image {
  height: 115px;
  width: auto;
}

.blogImg {
  height: auto;
  max-height: 120px;
  padding: 8px;
  margin: 3px 0px;
}

.title {
  margin: 10px 0px;
  font-weight: normal;
}

.blog-body {
  width: 60%;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.category {
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  margin: 4px auto;
  float: left;
  clear: both;
}

.blog-time {
  font-size: 1rem;
  font-weight: normal;
  text-align: right;
  float: left;
  clear: both;
  margin: 4px 0px;
}

.reading-time {
  text-align: right;
  margin: 4px auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .blogList {
    display: flex;
    padding: 8px 8px;
    margin: 10px 0px;
    justify-content: space-around;
  }
  .blogImg {
    /* width: 40%; */
    height: auto;
    max-height: 120px;
    padding: 10px;
    margin: 10px 0px;
  }

  .title {
    margin: 10px auto;
  }

  .blog-body {
    width: 60%;
    align-content: center;
    text-align: center;
    padding: 10px;
  }

  .category {
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    float: left;
    clear: both;
  }

  .blog-time {
    font-size: 1rem;
    color: rgb(83, 83, 83);
    font-weight: normal;
    float: left;
    clear: both;
    margin: 0px 0px;
    margin-top: 10px;
  }

  .reading-time {
    text-align: right;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
