.center {
  display: flex;
  padding: 20px 10px;
  margin: 0px auto;
  list-style: none;
}

.post {
  width: 74%;
  padding: 20px;
}

.post img {
  max-width: 70%;
  text-align: left;
}

.sidebar {
  display: list-item;
  padding: 4px;
  /* text-align: center; */
}

.items {
  justify-content: center;
}

@media (max-width: 768px) {
  .center {
    display: block;
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 1rem;
    justify-content: center;
  }

  .sidebar {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

  .items {
    justify-content: center;
  }

  .post img {
  max-width: 90%;
  text-align: left;
}

}
