  .prof-title {
    display: flexbox;
    text-align: center;
    margin: 20px 0px;
    font-size: 32px;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    .prof-title {
      padding-bottom: 1rem;
      font-size: 32px;
      text-align: center;
    }
  }
  