.blogList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0px;
}
.blogImg{
    margin-right: 1rem;
}
.category{
    font-size: 1rem;
    color: black;
    font-weight: normal;
}

.blog-time{
    font-size: 1rem;
    color: rgb(83, 83, 83);
    font-weight: normal;
}
.blog-text{
    font-size: 1rem;
    color: black;
    line-height: 24px;
}

.time{
    margin-left: 8rem;
}